---
title: Lake County Real Estate
---
<div class="full-bleed-image">
  <div class="caption container">
    <h1>Discover Lake County</h1>
    <p>North of San Francisco and Neighboring the Napa Valley</p>
  </div>
</div>

<div class="container">

	<div class="col-two-third">

		<h1>Rendee K. Burns</h1>
		<%= image_tag 'agent-profile.jpg', class: 'profile-img' %>
		<p>
			Your satisfaction my highest priority. I strive to provide high-quality service and I put 100% effort into every single transaction. Competent, communicative, reliable, efficient and fast. I am glad to be of service to you. Take a look around and if you want to get in touch, use the email form below to contact me.
		</p>
		<p>
			I've ridden horses, trail riding all over Lake County and know it well. My husband has worked in green energy at The Geysers for 35 years. We are quite proud of having the largest geo-thermal fields in the world, Lake Counties largest, natural resource and also proud of boasting " the cleanest air in the state of California". We enjoy Boggs State Forest, California's largest natural lake, creeks, mountains, country living and our community.
		</p>

		<h2>Buyers</h2>
		<dl>
			<dt><%= link_to 'Amortization Table', '#' %></dt>
			<dd>Understand how interest on a home loan works.</dd>

			<dt><%= link_to 'Homebuyer Preparedness', '#' %></dt>
			<dd><%= lorem.words 10 %></dd>

			<dt><%= link_to 'Intro To Lending', '#' %></dt>
			<dd><%= lorem.words 15 %></dd>
		</dl>

		<h2>Sellers</h2>
		<dl>
			<dt><%= link_to 'Our Guarantee', '#' %></dt>
			<dd><%= lorem.words 10 %></dd>
		
			<dt><%= link_to 'Virtual Tours', '#' %></dt>
			<dd><%= lorem.words 15 %></dd>
		</dl>
		
		<h2>Investors</h2>
		<dl>
			<dt><%= link_to 'Opportunities in Lake County', '#' %></dt>
			<dd><%= lorem.words 10 %></dd>

			<dt><%= link_to 'Vacation Rental By Owner', '#' %></dt>
			<dd><%= lorem.words 14 %></dd>

			<dt><%= link_to 'Creative Financing', '#' %></dt>
			<dd><%= lorem.words 12 %></dd>
		</dl>

	</div>
	<div class="col-one-third">
		<%= partial '_layouts/mls_form' %>
	</div>
</div>

